.section-body{
    max-width: 37rem;
 
}

.formulario-login{
    max-width: 30.5rem;
    margin: auto;

    display: flex;
    flex-direction: column;
}

.formulario-login__titulo{
    font-size: var(--h1);
    font-family: 'Roboto', sans-serif;
    color: var(--azul);
}

.formulario-login__titulo span{
    font-size: 3rem;
}

.formulario-login__caja-nombres{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.formulario-login label{
    font-size: var(--parrafo);
    color: var(--azul);
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
}
.formulario_login_input_nombres{
    max-width: 34rem;
    height: 3.5rem;

    border: 1px solid #E5E5E5;
    border-radius: 0.5rem;
    font-size: var(--parrafo-peque);
    color: var(--grisClaro);
    padding-left: 0.7rem;
}
.formulario_login_input{
    max-width: 14.5rem;
    height: 3.5rem;

    border: 1px solid #E5E5E5;
    border-radius: 0.5rem;
    font-size: var(--parrafo-peque);
    color: var(--grisClaro);
    padding-left: 0.7rem;
}

.button{
    width: 11.5rem;
    height: 5rem;
    font-size: var(--h3);
    border-radius: 5px;
    background-color: var(--rosado);
    color: var(--hueso);
    border: none;
    margin-top: 4.2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
